body {
  font-family: sans-serif, serif;
  margin: 0;

  /*
  gradient - F9F7F7 -> DBE2EF
  button - 112D4E
  card-section - 3F72AF
  */
}
img {
  width: 200px;
  height: auto;
}
a {
  text-decoration: none;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  background-color: #112d4e;
  color: white;
}
.nav-bar > .nav-item {
  margin-left: 10px;
}
.nav-item:hover {
}
#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: green;
  z-index: -3;
  font-size: 1.5em;
  height: 100vh;
}
.hero-container {
  margin-right: 50px;
}

.carousel-item {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.carousel-item .img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.img-graduate {
  position: relative;
  z-index: 1;
}
.img-graduate > img {
  border-radius: 20px;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.img-graduate::after,
.img-graduate::before {
  /*
  #ff4545, #00ff99, #006aff, #ff0095*/
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 103%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 90%, blue);
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 103px 106px;
  translate: -50% -50%;
  border-radius: 15px;
  animation: 3s spin linear infinite;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.img-graduate::before {
  filter: blur(1.5em);
  opacity: 0.5;
}

#projects-section {
  height: 100vh;
}

#about-section {
  height: 100vh;
}
#contact-section {
  height: 100vh;
}
@media (min-width: 992px) {
  .hero-container {
    margin-right: 20em;
  }
}
