body {
  font-family: sans-serif, serif;
  margin: 0;

  /*
  gradient - F9F7F7 -> DBE2EF
  button - 112D4E
  card-section - 3F72AF
  */
}
img {
  width: 200px;
  height: auto;
}
a {
  text-decoration: none;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  background-color: #112d4e;
  color: white;
}
.nav-bar > .nav-item {
  margin-left: 10px;
}
.nav-item:hover {
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: green;
  z-index: -3;
}
.carousel-item {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.img-graduate {
  position: relative;
  z-index: 1;
}
.img-graduate > img {
  border-radius: 20px;
}

.img-graduate::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: red;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 3px;
  translate: -50% -50%;
}

.projects-section {
}

.about-section {
}
.contact-section {
}
